<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/category.css"/>
    <title>Categories- E-COMMERCE</title>
</head>

<body>
<div class="dashboard-main-wrapper">

    <div class="dashboard-header" th:replace="admin/fragments/header :: dashboard-header"></div>

    <div class="nav-left-sidebar sidebar-dark" th:replace="admin/fragments/header :: nav-left"></div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Categories</h2>
                            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel
                                mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin/category/" class="breadcrumb-link">Categories</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"
                                        >
                                            Create
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ecommerce-widget">

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class=" alert alert-danger">Create New Product</h5>
                                <form th:action="@{/admin/product/create/}" method="post">

                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Name</label>
                                        <input id="inputText3" type="text" class="form-control"
                                               th:field="${product.name}">
                                    </div>

                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Piece</label>
                                        <input id="inputText3" type="text" class="form-control"
                                               th:field="${product.piece}">
                                    </div>

                                    <div class="form-group">
                                        <label for="currency-mask" class="col-form-label">Price </label>
                                        <input type="text" class="form-control currency-inputmask" id="currency-mask"
                                               im-insert="true"
                                               th:field="${product.price}">
                                    </div>

                                    <div class="form-group">
                                        <label for="input-select">Category</label>
                                        <select class="form-control" id="input-select" th:field="${product.categoryId}">
                                            <option value="-1">None</option>
                                            <option th:each="cat : ${categories}" th:value="${cat.id}"
                                                    th:text="${cat.name}">
                                                Category1
                                            </option>
                                        </select>
                                    </div>

                                    <textarea name="detail" id="editor1" rows="10" cols="80" ></textarea>

                                    <button type="submit" class="btn btn-success">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<div class="footer" th:replace="admin/fragments/footer :: footer"></div>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="/assets/libs/js/main-js.js"></script>
<!-- sparkline js -->
<script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="/assets/vendor/charts/morris-bundle/morris.js"></script>

<script src="/assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
<!-- chart c3 js -->

<script src="/assets/vendor/ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace( 'editor1' );
</script>

</body>

</html>